<h1>Today's Lesson</h1>
<div class="row">
  <div class="col-md-12">
    <ul>
    <% @days.each do |day| %>
    <li><%= link_to day.date, day_path(day) %></li>
    <% end %>
  </ul>
</ul>
<h1>View Older Lessons</h1>
  <ul>
    <% @days.each do |day| %>
      <li><%= link_to day.date, day_path(day) %></li>
    <% end %>
  </ul>

  </div>
</div>

<p>
  <%= link_to "Add a new lesson", new_day_path %>
</p>
