<h1>Code Builders Lessons!</h1>
  <ul>
    <% @days.each do |day| %>
    <li><%= link_to day.date.strftime("%m/%d/%Y"), day_path(day) %></li>
  <% end %>
  </ul>
<h1> <%= link_to "Return to Today's lesson", root_path %>
