<section class='days'>
  <h1>Schedule</h1>
  <table>
    <% @days.each do |day| %>
      <tr class="<%= date_class day.date %>">
        <td><%= link_to date_to_s(day.date), day %></td>
        <td><small><%= link_to day.body, day %></small></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "+ Add day", new_day_path, class: "btn" %>
</section>
