<div class="row">
  <div class="col-md-12">
    <h1><%= @day.date %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><%= @day.link_to %></p>
    <pre class="chapter-text" style="white-space: pre-line;">
      <%= @day.description %>
    </pre>
  </div>
</div>
