$blue: rgb(72, 170, 157);
$lightblue: rgb(214, 239, 241);
$red: rgb(255, 161, 169);
$green: rgb(114, 233, 137);
body {
  border-top: 5px solid $lightblue;
  font-family: "Futura";
  font-size: 16px;
  padding-top: 10px;
}

a {
  color: $blue;
  &:hover {
    color: darken($blue, 10%);
  }
}

.main {
  margin: 0 40px;
  @include outer-container();
}
h1 {
  font-size: 42px;
}

.hide {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
}

.required-learning {
  background-color: rgba($green, 0.5);
  padding: 1px 5px;
  font-weight: bold;
}
.pull-left {
  display: inline-block;
  float: left;
}

.pull-right {
  display: inline-block;
  float: right;
}

.pull-center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#{$all-buttons}, .btn {
  text-decoration: none;
  border: 1px solid $blue;
  padding: 5px 10px;
  color: $blue;
  background-color: $lightblue;
  margin: 5px 0;
}

#{$all-buttons-hover}, .btn:hover {
  background-color: darken($lightblue, 10%);
  color: darken($blue, 10%);
  border-color: darken($blue, 10%);
}

table {
  width: 100%;
  margin: 10px 0;
  font-weight: bold;
  small {
    font-weight: normal;
  }
  tr {
    td {
      line-height: 30px;
      padding: 10px;
    }
    background-color: white;
    &:hover {
      background-color: darken(white, 5%);
    }
    &:nth-child(odd) {
      background-color: $lightblue;
      &:hover {
        background-color: darken($lightblue, 5%);
      }
    }
  }
}


#{$all-text-inputs} {
  border: 1px solid $blue;
  display: block;
  margin: 5px 0;
  padding: 10px 0 5px 5px;
  width: 100%;
}

textarea {
  height: 300px;
}

select {
  border: 1px solid $blue;
  padding: 5px;
  margin: 5px 0;
  background-color: white;
  -webkit-appearance: none;
  border-radius: 0;
}
