
.container {
  padding: inherit;
}
.test h1 {
text-align: right;
}

body {
  activities-row {
    background-color: green;
  }
}
.search {
  padding-top: 4em;
}
.activities-row  p:nth-child(odd) {
  background-color: #abdcfb;
}
ul
{
list-style-type: none;
}

.navbar-header {
  background-color: black;
  padding: inherit;
}
