
<%= link_to "<i class='fa fa-calendar'></i>".html_safe, all_days_path, class: "pull-center" %>
<h1>Required Learning</h1>

<ul>
  <% @activities.each do |act| %>
    <li>
      <input type='checkbox' />
      <%= link_to_if act.url.present?,  act.body, act.url %>
      <small class='muted'> | <%= link_to date_to_s(act.day.date), act.day %></small>
    </li>
  <% end %>
</ul>
