<h2>Required Learning</h2>
<ul>
  <% @activities.each do |act| %>
    <li>
      <input type='checkbox' />
      <%= link_to_if act.url.present?,  act.body, act.url %>
      <small class='muted'> | <%= link_to date_to_s(act.day.date), act.day %>
    </li>
  <% end %>
</ul>
