<!-- <div class="list-days">
    <p><%= link_to @activity.start_time.strftime("%I%P"), day_activity_path(day, activity), {:style=>'color:#000000;', :class => "css_class" } %></p>
</div>
<%= link_to 'Destroy',  day_activity_path(@day, activity),
    data: { confirm: 'Are you sure?' }, method: :delete %> -->
